langchain
langchain-community
langchain-core
langchain-huggingface
langchainhub
tiktoken
chromadb
sentence-transformers
langgraph
Flask
Flask-Cors
waitress
requests
openai==0.28
aiopyston
langchain-chroma
bs4
requests 
html2text
textstat
selenium